.background-image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
margin: auto;
}

.background-image {
  background-image: url(https://parthadave2022.github.io/reach2022/10-downing-street-2.jpg);
  width: 100vw;
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu {
  top: 130px;
  position: relative;
}

.hero-wine img {
  width: 450px;
  position: relative;
  top: 75px;
  left: 129px;
}

.logo-text {
  font-size: 25px;
  color: white;
  text-align: left;
  padding-top: 50px;
}

body {
  margin: auto;
  background-color: #f6f6f6;

      overflow-x: hidden;
}

h1 {
  color: white;
  font-size: 55px;
  text-align: left;
  max-width: 60vw;
  margin: auto;
  margin-top:80px;
  font-family: 'Merriweather', serif;
}

.basket {
  border: none;
   color: black;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 18px;
   margin: 4px 2px;
   cursor: pointer;
font-family: 'Open Sans', sans-serif;
   width: fit-content;
background-color: #FFAE9B;
font-weight: 900;
margin-top: 40px;

}

  .section-1 img {
      width: 70%;
      margin: auto;
      display: list-item;
          margin-top: 100px;
  }


.section-1-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70vh;
}

.section-1-right-background {
  background-image: url(VIEW_6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 40px;
  font-family: 'Merriweather', serif;

}

.section-1-left-detail {
  position: relative;
  left: 88px;
  top: 100px;
}

.section-1-left-detail p {

  max-width: 70%;

}

.section-1-right-detail {
  position: relative;
  top: 100px;
}

span {
  margin-right: 50px;
  padding-top: 50px;

}

.purchase {
  margin-top: 56px;
}

.purchase-detail {
  font-size: 20px;
}

.add  {
  font: 16px!important;
  background-color: #007943;
  color: white;
  padding: 15px;
    font-family: 'Open Sans', sans-serif;
        display: inline-block;
        cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

.basket a {
  color: black;
}

li {
  font-family: 'Open Sans', sans-serif;
}

.section-2 img {
  width: 181px;
  margin: auto;
  display: block;
}

.section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  width: 70vw;
  margin: auto;
  margin-top: 80px;
}

.section-2 p {
  text-align: center;
  margin-top: 30px;
}

.section-2 h2 {
  text-align: center;
  font-size: 25px;

}

.section-2-boxes  {
  background-color: white;
  /* color: white; */
  padding: 50px;
  border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
}

.section-2-header h2 {
  text-align: center;
  margin-top: 50px;
}

.section-2 h3 {
  text-align: center;
}

.offer span {
  margin: auto;
}

.offer {
  padding-top: 0px!important;
  text-align: center;
}

.code {
  background-color: #d3d3d3;
  display: inline-block;
  padding: 10px;
  border: 2px solid #838383;
  margin: 20px 0px;
}

.new-price {
  font-size:22px;
  color: #ff1212;;
  font-weight: 700;
  padding-top:10px;
}


.timer {
  background-color: #e33b12;
    height: 120px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;

}
.timer-box {
  width: 73%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
}

.timer-content {
  font-size: 50px;
      line-height: 120px;
          font-weight: 900;
}

.timer-detail {
  font-size: 20px;
  line-height: 110px;
      text-align: left;

}
.order-in {
  text-align: right;
}



@media screen and (max-width: 600px)  {

  .timer-box {
    width: 73%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;

  }

  .order-in {
    text-align: center;
  }

  .timer-detail {
    text-align: center;
  }

  .timer-content {
    line-height: 0px;
    font-size: 20px;
  }

  .timer {
    height: 100%;
  }



  .section-2 {
    width: 90vw;
  }


  .background-image-grid {
    grid-template-columns: 1fr;
  }

  .logo-text {
    text-align: center;
  }
  h1 {
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
  }

  .logo-text {
    padding-top: 0px;
    font-size: 12px;
  }

  .basket {
    margin: auto;
    margin-top:50px;
  }

  .hero-wine img {
    width: 450px;
position: relative;
top: 255px;
left: 160px;
  }

  .section-1 {
    display: none;
  }

  .section-2 {
    grid-template-columns: 1fr;
  }

  .add {
    width: 50%;
  }

  .hero-wine {
    display: none;
  }

  .background-image {
    height:60vh;
    background-position: center;

  }

}
